# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
pgo/default.pgo
pgo/markdown.nopgo
pgo/nopgo.txt
pgo/markdown.withpgo
pgo/README.html
pgo/withpgo.txt
prime numbers/chan-21s/primes.bin
